<template>
    <div class="machine-grid">
        <v-card class="washing-card" to="/machine" v-for="(machine, index) in machines" :key="index">
            <img src="../assets/img/washing-machie.png" max-height="350px" />
            <v-card-title>
                {{ machine.name }}
            </v-card-title>
            <v-card-subtitle>
                <span class="color-active">o</span> {{ machine.status }}
            </v-card-subtitle>
        </v-card>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                machines: [
                    { name: "Washing Machine No.1", status: "available" },
                    { name: "Washing Machine No.2", status: "available" },
                    { name: "Washing Machine No.3", status: "available" },
                    { name: "Washing Machine No.4", status: "available" },
                    { name: "Washing Machine No.5", status: "available" },
                ],
            };
        },
    };
</script>

<style scoped>
    .color-active {
        font-size: large;
        color: greenyellow
    }

    .machine-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        gap: 20px;
    }

    .washing-card {
        margin-left: 15px;
        max-width: 320px;
        background-color: #19A7CE;
    }

    @media (max-width: 768px) {
        .machine-grid {
            grid-template-columns: repeat(1, 1fr);
        }
    }
</style>