<template>
    <div>
        <top-navbar />
        <h1 class="topic-text">Washing Machine</h1>
        <washing-card />
    </div>

</template>

<style scoped>
    .topic-text {
        margin-top: 20px;
        margin-left: 20px;
        font-size: 20px;
    }
</style>