<template>
  <div>
    <v-btn class="btn-align" color="#19A7CE" to="/login">
      Frontend Testing
    </v-btn>
    <v-btn class="btn-align" color="#19A7CE" to="/programing-test1">
      Programing Testing 1
    </v-btn>

    <v-btn class="btn-align" color="#19A7CE" to="/programing-test2">
      Programing Testing 2
    </v-btn>
  </div>
</template>

<style scoped>
  .btn-align {
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;

  }

  @media (max-width: 768px) {
    .btn-align {
      width: 300px;
      margin: 15px;
    }
  }
</style>