<template>
  <div class="login-container">
    <div class="login-form">
      <h1 class="topic-header">laundromat Sysytem</h1>
      <v-text-field class="text-field" label="Email" />
      <v-text-field class="text-field" label="Password" type="password" />
      <v-btn class="login-btn" color="#19A7CE" to="/home">Login</v-btn>
      <p>Don't have an account? <span class="color-text"><nuxt-link to="/register">Register</nuxt-link></span></p>
    </div>
    <div class="login-image d-none d-md-block">
      <img src="../assets/img/laundromat.jpg"></img>
    </div>
  </div>
</template>

<script>
</script>

<style scoped>
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .topic-header {
    margin-bottom: 40px;
    text-align: center;
  }

  .login-btn {
    width: 100%;
    height: 100%;
    color: white;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 25px;

  }

  .login-form {
    width: 50%;
    padding: 20px;
    text-align: center;
  }

  .login-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login-image img {
    max-width: 760px;
    height: 720px;
  }

  .text-field {
    margin-bottom: 20px;
  }

  .color-text {
    color: #146C94;
  }

  @media (max-width: 768px) {
    .d-none {
      display: none;
    }

    .d-md-block {
      display: block;
    }
  }
</style>