<template>
    <div>
        <top-navbar />
        <v-card class="washing-card">
            <img src="../assets/img/washing-machie.png" max-height="350px"></img>
            <v-card-title>
                Washing Machine
            </v-card-title>
            <v-card-subtitle>
                <span :class="activeClass">o</span> {{ activeStatus }}
                <p>Washing Time : {{ countdown }}</p>
                <v-btn class="btn-payment" @click="showPaymentDialog">Payment</v-btn>
            </v-card-subtitle>
        </v-card>

        <v-dialog v-model="paymentDialog" persistent max-width="300px">
            <v-card class="dialog-payment">
                <v-card-title>Payment Confirmation</v-card-title>
                <v-card-text>Do you want to make a payment?</v-card-text>
                <v-card-actions>
                    <v-btn class="btn-dialog" @click="makePayment">Yes</v-btn>
                    <v-btn class="btn-dialog" @click="closePaymentDialog">No</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                paymentDialog: false,
                countdown: null,
                timer: null,
                activeStatus: 'available',
                activeClass: 'color-active',
            };
        },
        methods: {
            showPaymentDialog() {
                this.paymentDialog = true;
            },
            closePaymentDialog() {
                this.paymentDialog = false;
            },
            makePayment() {
                this.closePaymentDialog();
                this.startCountdown(1, 10);
            },
            startCountdown(minutes, seconds) {
                const totalSeconds = minutes * 60 + seconds;
                let remainingSeconds = totalSeconds;

                this.countdown = this.formatTime(remainingSeconds);

                this.timer = setInterval(() => {
                    remainingSeconds -= 1;
                    this.countdown = this.formatTime(remainingSeconds);
                    this.activeStatus = 'unavailable';
                    this.activeClass = 'color-red';

                    if (remainingSeconds <= 0) {
                        clearInterval(this.timer);
                        this.countdown = '';
                    } else if (remainingSeconds === 59) {
                        this.showAlert('Notification', 'You have 1 minute left.');
                    }
                }, 1000);
            },
            showAlert(title, message) {
                alert(title + '\n' + message);
            },
            formatTime(seconds) {
                const mins = Math.floor(seconds / 60);
                const secs = seconds % 60;
                return `${mins}:${secs < 10 ? '0' : ''}${secs}`;
            },
        },
        beforeDestroy() {
            if (this.timer) {
                clearInterval(this.timer);
            }
        },
    };
</script>

<style scoped>
    .color-active {
        font-size: large;
        color: greenyellow;
    }

    .color-red {
        font-size: large;
        color: red;
    }

    .washing-card {
        margin-top: 40px;
        margin-left: 15px;
        max-width: 320px;
        background-color: #19A7CE;
    }

    .btn-payment {
        text-align: center;
        width: 100%;
        height: 100%;
    }

    .dialog-payment {
        background-color: #19A7CE;
    }


    .btn-dialog {
        text-align: center;
        width: 100px;
        height: 100px;
    }

    @media (max-width: 768px) {
        .washing-card {
            max-width: 350px;
        }
    }
</style>