<template>
    <div>
        <h1>Enter number Example 1,2</h1>
        <v-text-field v-model="inputData" label="Enter numbers and comma"></v-text-field>
        <v-btn @click="sortNumber">Sort</v-btn>
        <div>
            <p>Sorted Array:</p>
            <v-chip v-for="(number, index) in sortedArray" :key="index">{{ number }}</v-chip>
        </div>
    </div>
</template>

<script>
    function countFrequency(arr) {
        const frequencyMap = new Map();
        for (const num of arr) {
            frequencyMap.set(num, (frequencyMap.get(num) || 0) + 1);
        }
        return frequencyMap;
    }

    function sortByValueAndFrequency(inputArray) {
        const frequencyMap = countFrequency(inputArray);
        inputArray.sort((a, b) => {
            const freqA = frequencyMap.get(a);
            const freqB = frequencyMap.get(b);
            if (freqA !== freqB) {
                return freqA - freqB;
            } else {
                return a - b;
            }
        });
        return inputArray;
    }

    export default {
        data() {
            return {
                inputData: '',
                sortedArray: [],
            };
        },
        methods: {
            sortNumber() {
                const inputArray = this.inputData.split(',').map(Number);
                this.sortedArray = sortByValueAndFrequency(inputArray);
            },
        },
    };
</script>