<template>
    <div>
        <v-text-field v-model="targetName" label="Enter employee name"></v-text-field>
        <v-text-field v-model="newEmployeeName" label="New employee name"></v-text-field>
        <v-text-field v-model="newEmployeePosition" label="New employee position"></v-text-field>
        <v-btn @click="displayEmployeeInfo">Display Info</v-btn>
        <v-btn @click="addEmployee" :disabled="!isFormValid">Add Employee</v-btn>
        <div>
            <p>{{ displayResult }}</p>
        </div>
        <div>
            <p v-for="(employee, index) in sortedEmployees" :key="index">
                ชื่อ {{ employee.name }} ตำแหน่ง {{ employee.position }}
            </p>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                employees: [],
                targetName: '',
                newEmployeeName: '',
                newEmployeePosition: '',
                displayResult: '',
            };
        },
        computed: {
            sortedEmployees() {
                return this.employees.slice().sort((a, b) => a.name.localeCompare(b.name));
            },
            isFormValid() {
                return this.newEmployeeName.trim() !== '' && this.newEmployeePosition.trim() !== '';
            },
        },
        watch: {
            targetName() {
                this.displayResult = '';
            },
        },
        methods: {
            displayEmployeeInfo() {
                const targetName = this.targetName;
                const employee = this.sortedEmployees.find((e) => e.name === targetName);

                if (employee) {
                    this.displayResult = `ชื่อ ${employee.name} ตำแหน่ง ${employee.position}`;
                } else {
                    this.displayResult = `Employee with name ${targetName} not found.`;
                }
            },
            addEmployee() {
                if (this.isFormValid) {
                    const newEmployee = {
                        name: this.newEmployeeName,
                        position: this.newEmployeePosition,
                    };
                    this.employees.push(newEmployee);
                    this.newEmployeeName = '';
                    this.newEmployeePosition = '';
                }
            },
        },
    };
</script>